.containerSubMenu {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #f9f9f9;
  transition: left 0.2s linear;
  overflow-x: hidden;
}
.active {
  left: 0;
}

.linkBack {
  padding: 0.7rem 0 0.7rem 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.linkBack__icon {
  margin-right: 0.5rem;
}
.link {
  display: block;
  width: 100%;
  padding: 0.7rem 0 0.7rem 1.5rem;
  color: #474747;
  font-size: 1.2rem;
  cursor: pointer;
}
.link:hover {
  background-color: #f2f2f2;
}
.subLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subLink__icon {
  margin-right: 0.5rem;
}
