.container {
  position: relative;
  z-index: 100;
  width: 90%;
  max-width: 1440px;
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
